.board {
  border-collapse: collapse;
}

.board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  background-color: #fceabb; /* 明るい将棋盤風カラー */
  position: relative;
  color: #000; /* 黒文字 */
}

.game-screen {
  width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px;
  background: #fff0c0; 
}

.botton-info {
  display: flex; 
  justify-content: space-between;
}

.time-limit {
  flex: 1; 
  margin-right: 10px;
}

.top-buttons {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 10px;
}

.sente {
  padding: 10px;
  border-radius: 50%;
  background: #66ccff;  
}

.gote {
  padding: 10px;
  border-radius: 50%; 
  background: orange; 
}

.surrender { 
  padding: 10px;
  border-radius: 50%; 
  background: #66ccff;
}

.piece-image {
  width: 90%;
  height: 90%;
  position: absolute;
  object-fit: contain;
}

.sente-image {
  bottom: 0;
}

.gote-image {
  top: 0;
}

.movable-highlight {
    background-color: rgba(0, 255, 0, 0.3); /* 半透明の緑 */
}