.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  padding: 2em;
  border-radius: 10px;
  min-width: 300px;
  background-color: white;
}

.hidden {
  display: none;
}

.close-button {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}
