<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{header.game_title}"></title>
    <link rel="stylesheet" href="/css/game.css"/>
    <script src="/js/game-layout.js" defer></script>
</head>
<body>

<div class="game-screen">
    <h2 th:text="#{game.title}"></h2>

    <!-- 操作ボタン -->
    <div class="top-buttons">
        <div th:text="#{game.order_second}" class="gote"></div>

        <form th:action="@{/review}" method="get" style="margin: 0;"></form>
            <button id="surrender" th:text="#{game.surrender}" type="submit"></button>
        </form>
    </div>

    <!-- 将棋盤 -->
    <div class="board" id="shogiBoard">
    
    </div>

    <!-- 下部情報 -->
    <div class="bottom-info">
        <div th:text="#{game.timelimit_left}" class="time-limit"></div>
        <div th:text="#{game.order_first}" class="sente"></div>
    </div>
</div>

</body>
</html>
