<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{header.game_title}"></title>
    <link rel="stylesheet" href="/css/game.css"/>
    <script src="/js/game-layout.js" defer></script>
</head>
<body>

<div class="game-screen">
    <h2 th:text="#{game.title}"></h2>

    <!-- 操作ボタン -->
    <div class="top-buttons" style="display: flex; justify-content: space-between; margin-bottom: 10px;">
        <button th:text="#{game.order_second}" style="background: orange; border-radius: 50%; padding: 10px;"></button>

        <form th:action="@{/review}" method="get" style="margin: 0;"></form>
            <button th:text="#{game.surrender}" type="submit" style="background: #66ccff; border-radius: 50%; padding: 10px;"></button>
        </form>
    </div>

    <!-- 将棋盤 -->
    <div class="board" id="shogiBoard">
    
    </div>

    <!-- 下部情報 -->
    <div class="bottom-info">
        <button th:text="#{game.timelimit_left}" class="time-limit"></button>
        <button th:text="#{game.order_first}" class="sente"></button>
    </div>
</div>

</body>
</html>
