<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/top.css">
    <script src="/js/modal.js" defer></script>
    <script src="/js/top.js" defer></script>
    <title th:text="#{header.top_title}"></title>
</head>
<body>
    <h1 th:text="#{top.title}"></h1>
    <button id="openModalBtn" th:text="#{top.room_create}"></button>
    <!-- モーダル本体 -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <span class="close-button" id="closeModalBtn">&times;</span>
            <h2 th:text="#{top.room_create}"></h2>
            <form id="createRoomForm">
                <label th:text="#{timelimit_text}"></label>
                <input type="number" name="timeLimit" min="5" max="360" step="5" required> <!--将来的にはプルダウン-->
                <button th:text="#{button.creation}" type="submit"></button>
            </form>
        </div>
    </div>
    
    <div id="createRoomResult" style="margin-top: 20px;"></div>

    <div>
        <h3 th:text="#{top.room_join_text}"></h3>
        <form id="joinRoomForm">
            <input type="text" id="roomIdInput" name="roomId" placeholder="ルームIDを入力" required>
            <button id="joinRoomButton" th:text="#{button.submit}" type="submit"></button>
        </form>
        <div id="joinResult"></div> <!-- 結果表示用 -->
    </div> 

    <button id="roomCancelBtn" th:text="#{button.cancel}" class="hidden">

    </button>

    <!-- 対局開始セクション -->
    <div id="start-game-section">
        <button id="startGameBtn" th:text="#{button.start}" data-roomId="" data-playerId=""></button>
        <p id="startGameMessage"></p>
    </div>

</body>
</html>